aiohttp==3.9.5
aiosignal==1.3.1
attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
frozenlist==1.4.1
idna==3.7
multidict==6.0.5
pydantic==1.10.17
requests==2.32.3
setuptools==70.0.0
-e git+ssh://git@github.com/dvcrn/sharp-cocoro.git@12c6928209ddd1d0f076d4b757ec87fc7227d6c1#egg=sharp_cocoro
typing_extensions==4.12.2
urllib3==2.2.2
wheel==0.43.0
yarl==1.9.4
